body {
  background-image: url("../graphics/background.png");
  height: 100vh;
}

.app-container {
  max-width: 64rem;
  background-color: white;
  margin: 5rem auto;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.custom-gray {
  color: rgba(112, 112, 112, 0.6);
}
